<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<center>
   <h2>Login</h2>


<form method="POST">
    {% csrf_token %}
      <div class="mb-3">
    <label  class="form-label">Username</label>
    <input type="text" class="form-control" placeholder="Enter the username" name="u">
  </div>

      <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="p" placeholder="Enter the password" >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</center>


{% endblock %}
